{{#extends "base"}}

{{#block "title"}}Delete Student{{/block}}
{{#block "content"}}
<div class="pt-5 pb-1 mb-4 d-flex w-100">
  <div>
    <h1>Delete a student</h1>
  </div>
    </div>
  <div class="ms-auto mt-auto">
<form method="POST">
    <div>
        <p>Please confirm if you wish to proceed to delete entry.</p>
        <div class="alert alert-danger">
            <input type="submit" value="confirm" class="btn btn-danger" />
            <a href="/students" class="btn">cancel</a>
        </div>
    </div>
    </div>
</form>
 </div>
{{/block}}

{{/extends}}