{{#extends "base"}}

{{#block "title"}}Delete Customer{{/block}}
{{#block "content"}}
<h1>Delete Customers</h1>
{{!-- The name of the form field should match the column names of your table --}}
<form method="POST">
    <div>
        <div class="alert alert-danger">
            <input type="submit" value="confirm" class="btn btn-danger" />
            <a href="/customers" class="btn">cancel</a>
        </div>
    </div>
    </div>
</form>
{{/block}}

{{/extends}}